langchain==0.3
langchain-community==0.3.23
langchain-huggingface
langchain-openai
langchain-groq
langchain-text-splitters
langchain-chroma
streamlit
scholarly 
requests
bs4
validators
pypdf
pymupdf
unstructured
youtube_transcript_api
pytube
chromadb
sentence_transformers
huggingface_hub
pandas
numpy
SQLAlchemy
mysql-connector-python
numexpr
dotenv
pydantic
xmltodict==0.13.0
